#intro {
  height: 100vh;
}
.intro__inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 16px;
}
.intro__title {
  font-size: 6vw;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 800;
  white-space: nowrap;
  text-indent: -0.5vw;
  letter-spacing: -0.3vw;
  text-align: center;
}
.intro__text {
  width: 100%;
  height: 47vh;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.intro__text .text {
  font-size: 2.5vw;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  z-index: 100;
  transition: all 0.3s;
  cursor: all-scroll;
}
.intro__text .img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
  overflow: hidden;
  filter: grayscale(100%);
  transition: all 0.3s;
}
.intro__text:hover .text {
  opacity: 0;
}
.intro__text:hover .img {
  filter: grayscale(0);
}
.intro_lines {
  width: 100%;
}
.intro__lines .line {
  display: block;
  width: 100%;
  height: 1px;
  margin-bottom: 0.5vw;
}
.intro__lines.bottom .line {
    margin-top: 0.5vw;
    margin-bottom: 0;
    display: none;
}
.intro__lines .line:nth-child(1){
    height: 1px;
    background-color: var(--black13);
}
.intro__lines .line:nth-child(2){
    height: 2px;
    background-color: var(--black14);
}
.intro__lines .line:nth-child(3){
    height: 5px;
    background-color: var(--black15);
}
.intro__lines .line:nth-child(4){
    height: 9px;
    background-color: var(--black16);
}
.intro__lines .line:nth-child(5){
    height: 13px;
    background-color: var(--black17);
}
.intro__lines .line:nth-child(6){
    height: 17px;
    background-color: var(--black18);
}
.intro__lines .line:nth-child(7){
    height: 25px;
    background-color: var(--black19);
}
.intro__lines.bottom .line:nth-child(1){
    height: 25px;
    background-color: var(--black19);
}
.intro__lines.bottom .line:nth-child(2){
    height: 17px;
    background-color: var(--black18);
}
.intro__lines.bottom .line:nth-child(3){
    height: 13px;
    background-color: var(--black17);
}
.intro__lines.bottom .line:nth-child(4){
    height: 9px;
    background-color: var(--black16);
}
.intro__lines.bottom .line:nth-child(5){
    height: 5px;
    background-color: var(--black15);
}
.intro__lines.bottom .line:nth-child(6){
    height: 2px;
    background-color: var(--black14);
}
.intro__lines.bottom .line:nth-child(7){
    height: 1px;
    background-color: var(--black13);
}
 
 
@media (max-width: 800px) {
  .intro__inner {
    justify-content: center;
  }
  .intro_lines.bottom .line {
    display: block;
  }
  .intro__text .text {
    font-size: 24px;
  }
}
@media (max-width: 320px) {
  .intro__title {
    display: none;
  }
} 