.site__inner {
  padding: 16px;
}
.site__title {
  position: sticky;
  top: 70px;
  left: 0;
  width: 70%;
  height: 3.5vw;
  font-size: 2.5vw;
  font-weight: 900;
  line-height: -0.5;
  font-family: var(--mainKor-font);
  text-transform: uppercase;
  color: var(--black100);
  border-bottom: 0.2vw solid var(--black100);
  margin-bottom: 100px;
}
.site__title em {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2;
}
.site__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
.site__item {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: sticky;
  left: 0;
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
}
.site__item.s1 {
  background-color: var(--subBg1100);
  top: 180px;
}
.site__item.s2 {
  background-color: var(--subBg1200);
  top: 180px;
}
.site__item.s3 {
  background-color: var(--subBg1300);
  top: 180px;
}
.site__item.s4 {
  background-color: var(--subBg1400);
  top: 180px;
}
.site__item .num {
  font-size: 4vw;
  line-height: 1;
  font-weight: 900;
  font-family: var(--mainNum-font);
  position: absolute;
  left: 1vw;
  top: 1vw;
}
.site__item .text {
  text-align: center;
  margin-bottom: 1rem;
}
.site__item .text > div {
  font-size: 3vw;
  line-height: 1.5;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: var(--mainEng-font);
}
.site__item .title {
  font-family: var(--mainKor-font);
  margin-bottom: 1rem;
}
.site__item .btn a {
  text-decoration: underline;
  text-transform: uppercase;
  color: var(--black200);
  font-size: 1rem;
  transition: all 0.3s;
}
.site__item .btn a:hover {
  color: var(--black);
}
.site__item .info {
  position: absolute;
  left: 0;
  bottom: 3%;
  width: 98%;
  margin-left: 1%;
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  display: flex;
  justify-content: space-between;
}
.site__item .info span {
  font-family: var(--mainKor-font);
  font-size: 16px;
  padding: 1.5% 2.5%;
  text-transform: uppercase;
}
 
@media (max-width: 800px) {
  .site__title {
    width: 100%;
    margin-bottom: 10vw;
    font-size: 30px;
    height: auto;
    top: 68px;
    z-index: 1000;
    background-color: var(--mainBg-color);
  }
  .site__wrap {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .site__item.s1 {
    top: 140px;
    border-radius: 15px 15px 15px 15px;
  }
  .site__item.s2 {
    top: 140px;
    border-radius: 15px 15px 15px 15px;
  }
  .site__item.s3 {
    top: 140px;
    border-radius: 15px 15px 15px 15px;
  }
  .site__item.s4 {
    top: 140px;
    border-radius: 15px 15px 15px 15px;
  }
  .site__item .num {
    font-size: 80px;
    left: 20px;
    top: 20px;
  }
  .site__item .text > div {
    font-size: 26px;
  }
  .site__item .info {
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
    padding: 5px 0;
  }
  .site__item .info span {
    padding: 5px 15px;
  }
}
 
