.skill__inner {
  padding: 16px;
  display: flex;
  gap: 2%;
}
.skill__title {
  position: sticky;
  top: 70px;
  left: 0;
  width: 32%;
  height: 3.5vw;
  font-size: 2.5vw;
  font-weight: 900;
  line-height: -0.5;
  font-family: var(--mainKor-font);
  text-transform: uppercase;
  color: var(--black100);
  border-bottom: 0.2vw solid var(--black100);
}
.skill__title em {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2;
}
.skill__desc {
  width: 66%;
}
.skill__desc span {
  font-size: 4vw;
  line-height: 1;
  font-weight: 900;
  line-height: 1.3;
  font-family: var(--mainNum-font);
}
.skill__desc h3 {
  font-size: 1.5rem;
  text-decoration: underline;
  text-underline-position: under;
  margin-bottom: 1vw;
}
.skill__desc p {
  margin-bottom: 30vh;
  font-size: 1.2rem;
}
 
 @media (max-width: 800px) {
  .skill__inner {
    flex-direction: column;
    gap: 0;
  }
  .skill__title {
    width: 100%;
    margin-bottom: 10vw;
    font-size: 30px;
    height: auto;
    top: 68px;
    background-color: var(--mainBg-color);
  }
  .skill__desc {
    width: 100%;
  }
  .skill__desc span {
    font-size: 20vw;
  }
}