/* Pretendard 웹폰트 불러오기 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

/* Pretendard 폰트 클래스 */
.pretendard {
    font-family: "Pretendard", sans-serif;
}

/* 사이트 전체에 적용 (원하면 이 부분만으로도 충분) */
body {
    font-family: "Pretendard", sans-serif;
}

