@import url("pretendard/dist/web/variable/pretendardvariable-dynamic-subset.css");

:root {
    --font-pretendard: "Pretendard Variable", "Pretendard", -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
        "Malgun Gothic", "Segoe UI", "Noto Sans KR", "Noto Sans", "Helvetica Neue", Arial, sans-serif;
}

html,
body,
button,
input,
select,
textarea {
    font-family: var(--font-pretendard);
    font-weight: 400;
}

*,
*::before,
*::after {
    font-family: inherit;
}

.pretendard {
    font-family: var(--font-pretendard);
}

