:root {
    --mainEng-font: "Montserrat";
    --mainKor-font: "nanumSquareNeo";
    --mainNum-font: "gmarket";
 
    --mainBg-color: #ffffff;
    --subBg100: #d8cbc5;
    --subBg200: #33333377;
    --subBg300: #b8b8b8;
    --subBg400: #bbc5be;
    --subBg500: #aba7a2;
    --subBg600: #b1a99f;
    --subBg700: #d3caca;
    --subBg800: #161a2948;
    --subBg900: #ede3da;
    --subBg1000: #a3a3a3;
   
    --subBg1100: #afa7a7;
    --subBg1200: #d9d9d9;
    --subBg1300: #ffffff;
    --subBg1400:#b6b8c5;
    


    --white: #fff;
    --black: #000000;
    --black100: #2b2b2b;
    --black200: #434343;
    --black300: #686868;
    --black400: #e0e0e0;
 
    /* 기본 폰트 설정 */
    font-family: var(--mainEng-font), var(--mainKor-font);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
 
    /* 폰트를 부드럽게 렌더링하기 위한 속성  */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
 
    /* 아이폰 가로 모드에서 글씨 확대 금지 */
    -webkit-text-size-adjust: 100%;
}
 
@media (max-width: 800px) {
    :root {
        font-size: 14px;
        line-height: 1.4;
    }
}
 
body {
    color: var(--black100);
    background-color: var(--mainBg-color);
}