:root {
    --mainEng-font: "Montserrat";
    --mainKor-font: "nanumSquareNeo";
    --mainNum-font: "gmarket";
 
    --mainBg-color: #F3F3F3;
    --subBg100: #ffffff;
    --subBg200: #ffffff;
    --subBg300: #ffffff;
    --subBg400: #ffffff;
    --subBg500: #ffffff;
    --subBg600: #ffffff;
    --subBg700: #ffffff;
    --subBg800: #ffffff;
    --subBg900: #ffffff;
    --subBg1000: #ffffff;
   
    --subBg1100: #afa7a7;
    --subBg1200: #d9d9d9;
    --subBg1300: #ffffff;
    --subBg1400:#b6b8c5;
    


    --white: #fff;
    --black: #000000;
    --black100: #2b2b2b;
    --black200: #434343;
    --black300: #686868;
    --black400: #e0e0e0;
    --black5: #00000091;
    
    --black6: #00000091;
    --black7: #00000063;
    --black8: #00000049;
    --black9: #00000038;
    --black10: #00000031;
    --black11: #00000023;
    --black12: #00000011;

    --black13: #00000010;
    --black14: #00000020;
    --black15: #00000030;
    --black16: #00000040;
    --black17: #00000070;
    --black18: #00000090;
    --black19: #000000c2;

    /* 기본 폰트 설정 */
    font-family: var(--mainEng-font), var(--mainKor-font);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
 
    /* 폰트를 부드럽게 렌더링하기 위한 속성  */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
 
    /* 아이폰 가로 모드에서 글씨 확대 금지 */
    -webkit-text-size-adjust: 100%;
}
 
@media (max-width: 800px) {
    :root {
        font-size: 14px;
        line-height: 1.4;
    }
}
 
body {
    color: var(--black100);
    background-color: var(--mainBg-color);
}